mixin hotel 

  .hotel 
    .hotel_img 
      a(href="")
        img(src="", alt="")
    .hotel_info 
      a(href="") 
        h3 Hotel 1
      hr
      p Star rating: 4 
      p Country: Jamaica
      p Cost per night: 56