/*
Selector                                   Points     
element selector e.g h1, p        -        1
class, att,psuedo e,g .myclass    -        10
id e.g #myid                      -        100  
inline                            -        1000 */

html {
  background-color: black;
}
body {
  background: black;
}
main {
  background-color: chartreuse;
  max-width: 100%;
}
header,
nav {
  padding: 2%;
  margin: auto;
}
footer {
  background: black;
  padding: 2%;
  margin: 2%;
}

.col-md-4 {
  background: blue;
  margin: 2%;
  padding: 2%;
}
.col-md-4 > img {
  padding: 5%;
  height: 70%;
  width: 70%;
}

.container-fluid bg-light {
  border: 4px;
}
