.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.content-block {
  justify-content: space-between;
  align-items: flex-start;
  width: 46%;
  background-color: white;
  border-radius: 15px;
}
.row {
  padding: 2em 0;
  justify-content: space-between;
  align-items: flex-start;
  animation-duration: 1.25s;
  animation-delay: 1.75s;
  animation-name: fadeInDown;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: both;
}
.myVid {
  align-items: center;
  display: flex;
  padding: 5%;
  margin: 5%;
}
h1 {
  text-align: center;
  color: #ff9966;
  font-size: 3rem;
}
p {
  color: #ff9966;
  padding: 10%;
  font-size: 1.5rem;
}
